*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
section.main {
  width: 460px;
  height: 460px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border-radius:10px;
  background-color:#0cad75;
  color: white;
  padding: 5px;
  
}
div.row {
  display: inline-block;
  height: 50px;
  width: 100%;
}
div.col {
  display: flex;
  height:50px;
  width:50px;
  justify-content: center;
  align-items: center;
  font: 20px Arial;
  font-face: bold;
  border: 1px solid white;
}
div.col:nth-child(3), div.col:nth-child(6) {
  border-bottom: 3px solid white;
  /* background: red; */
}
section  .row:nth-child(3), section .row:nth-child(6){
  border-right: 3px solid transparent;
  /* background: red; */
}
